<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Directory to store input excel files -->
    <add key="QueueDirectoryPath" value="d:\Projects\PMNT\Target\Queue" />

    <!-- Directory to store successfully parsed and processed excel files -->
    <add key="ProcessedDirectoryPath" value="d:\Projects\PMNT\Target\Processed" />
    <!-- Directory to store excel files which were not correctly processed -->
    <add key="ErrorDirectoryPath" value="d:\Projects\PMNT\Target\Error" />

    <!-- Specifies the need to turn on input files pipeline -->
    <add key="PipelineEnabled" value="true" />
  </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>