<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Directory to store input excel files -->
    <add key="QueueDirectoryPath" value="E:\Interface\Queue" />

    <!-- Directory to store successfully parsed and processed excel files -->
    <add key="ProcessedDirectoryPath" value="E:\Interface\Processed" />
    <!-- Directory to store excel files which were not correctly processed -->
    <add key="ErrorDirectoryPath" value="E:\Interface\Error" />
    
    <add key="OutputDirectoryPath" value="E:\Interface\Output"/>
    
    <!--<add key="ReportEmail" value="eward.developer@gmail.com" />

    <add key="ReportSubject" value="Lenel Report" />-->

    <add key="WithKronosNumber" value="true" />

    <add key="WithKronosNumber" value="true" />

    <!-- Specifies the need to turn on input files pipeline -->
    <add key="PipelineEnabled" value="false" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Lenel Report &lt;developer.1path@gmail.com&gt;">
        <network
          host="smtp.gmail.com"
          port="587"
          enableSsl="true" 
          defaultCredentials="false" 
          userName="developer.1path@gmail.com" 
          password="developer1path"
        />
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>